<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={Routes.static_path(@conn, "/icon.svg")} />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Hello", suffix: " · Phoenix Framework") %>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}>
    </script>
    <link phx-track-static href={Routes.static_path(@conn, "/assets/app.css")} rel="stylesheet" />
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
